@model List<Client.Types.Account>

@{
    ViewData["Title"] = "Account list";
    var count = 1;
}

<h2>Account list</h2>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Parent</th>
            <th>Orders</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@(count++)</td>
            <td><a asp-action="Get" asp-route-id="@item.ID">@item.Name</a></td>
            <td><a asp-action="Get" asp-route-id="@item.ParentAccountID">@item.ParentAccount</a></td>
            @if (item.ParentAccountID == null)
            {
                <td><a asp-controller="Order" asp-action="GetByAccountID" asp-route-id="@item.ID">Associated Orders</a></td>
            } else
            {
                <td></td>

            }
        </tr>
        }
    </tbody>
</table>