@model List<Client.Types.DynamicpropertyInstance>

@{
    ViewData["Title"] = "Property values of a product of an Orderline";
}

<h2>Property values of a product</h2>

<dl class="dl-horizontal">
    @foreach (var property in Model)
    {
        <dt>@property.Property.Name</dt>
        <dd>
            @if (@property.Property.Type == "Single Line Of Text")
            {
                @property.StringValue
            }
            else if (@property.Property.Type == "Whole Number")
            {
                @property.IntValue
            }
            else if (@property.Property.Type == "Floating Point Number")
            {
                @property.DoubleValue
            }
            else if (@property.Property.Type == "Decimal")
            {
                @property.DecimalValue
            }
            else if (@property.Property.Type == "Decimal")
            {
                @("Optional set, no value yet")
            }
        </dd>
    }
    <dt></dt>
</dl>
