@model List<Client.Types.Product>

@{
    ViewData["Title"] = "Product list";
}

<h2>Product list</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>State</th>
            <th>Begin Date</th>
            <th>End Date</th>
            <th>Type</th>
            <th>Unit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
            <td>@item.ValidFromDate</td>
            <td>@item.ValidToDate</td>
            <td>@item.Type</td>
            <td>@item.Unit</td>
            <td>
                <a asp-action="Get" asp-route-id="@item.ID">View</a>
            @if (item.Type == "Product Bundle")
            {
               <a asp-action="GetBundle" asp-route-id="@item.ID">Bundled Products</a>
            }
            </td>
        </tr>
        }
    </tbody>
</table>